.button {
    border: 1px solid rgba(7, 15, 33, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    height: 40px;
    cursor: pointer;
    color: #070F21;
}

.blueButton {
    /* border: 1px solid rgba(7, 15, 33, 0.1); */
    background-color: #0E8CFF;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    height: 40px;
    cursor: pointer;
    margin: 0 0.25rem;
}

.buttonIcon {
    margin: 0.2rem;
}

.buttonText{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}